.title {
  font-size: 4.5rem;
  font-weight: bold;
  display: inline-block;
  line-height: 1.2;

  &--h2{
    font-size: 3.5rem;
  }

  &--medium {
    font-size: 2rem;
  }

  &--smaller {
    font-size: 1.5rem;
  }
}
